<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Log_out</title>
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich&amp;display=swap">
</head>
{% extends 'base.html' %}

{% block content %}
<body>
<div class="col"
     style="margin-right: 10%;margin-left: 10%;border-style: solid;border-color: rgb(108,120,133);border-top-width: 4px;border-right-width: 1.5px;border-left-width: 1.5px;border-top-right-radius: 17px;border-top-left-radius: 17px;border-bottom-right-radius: 17px;border-bottom-left-radius: 17px;margin-top: 20px;font-family: Aldrich, sans-serif;">
	<h1 style="text-align: center;margin-top: 10px;">Logged out</h1>
	<p style="text-align: center;margin-right: 5%;margin-left: 5%;margin-top: 15px;font-family: Aldrich, sans-serif;">
		You are succsesufoul loged out. Now you can log in.You are succsesufoul loged out. Now you can log in. You are
		succsesufoul loged out. Now you can log in. You are succsesufoul loged out. Now you can log in. You are
		succsesufoul loged out. Now you can log in.</p>
	<div style="text-align: center;margin-bottom: 15px;">
		<a href="{% url 'main_page'%}">
		<button class="btn btn-primary" type="button"
		        style="text-align: center;background: rgb(135,145,160);border-width: 0px;">Go to Main page
		</button>
		</a>
	</div>
</div>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
{%endblock%}