<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static  '/assets/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'admin/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich&amp;display=swap">
    <link rel="stylesheet" href="{% static 'admin/fonts/fontawesome-all.min.css'%}">
    {% block head %}

    {% endblock head %}

</head>
<body>
{% include 'include/header.html' %}
{% block content %}


{% endblock content %}
{% include 'include/footer.html' %}
</body>
</html>