{%extends 'posts/base.html'%}
{%load static%}

{% block head%}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Demos</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich&amp;display=swap">
</head>
{% endblock head%}
{%block info%}
<body style="font-family: Aldrich, sans-serif;">
    <h1 style="text-align: center;">Demos</h1>
    <div class="col" style="margin-left: 5%;margin-right: 5%;text-align: center;">
        <p>Here you can try a few of my scripts to test them. If you want try it just find some thing that you like and run it!<br>(Almost all scripts was created with help of Python and his framworks)</p>
    </div>
    <div class="col" style="margin-right: 5%;margin-left: 5%;border-top-left-radius: 17px;border-top-right-radius: 17px;border-bottom-right-radius: 17px;border-bottom-left-radius: 17px;margin-top: 15px;border-style: solid;border-color: rgb(108,120,133);border-top-width: 4px;border-right-width: 1.5px;border-bottom-style: solid;border-bottom-color: rgb(108,120,133);border-left-width: 1.5px;">
        <div style="margin-left: 10px;">
            <h3 style="text-align: left;margin-top: 10px;">Run scaper of some text&nbsp;</h3>
            <p style="margin-bottom: 10px;">Paragraph</p><a href="{% url 'run_calculator' %}" style="color: rgb(134,144,157);">Try it&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-up-right">
                    <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"></path>
                </svg></a>
        </div>
    </div>
    <div class="col" style="margin-right: 5%;margin-left: 5%;border-top-left-radius: 17px;border-top-right-radius: 17px;border-bottom-right-radius: 17px;border-bottom-left-radius: 17px;margin-top: 15px;border-style: solid;border-color: rgb(108,120,133);border-top-width: 4px;border-right-width: 1.5px;border-bottom-style: solid;border-bottom-color: rgb(108,120,133);border-left-width: 1.5px;">
        <div style="margin-left: 10px;">
            <h3 style="text-align: left;margin-top: 10px;">Run calculator&nbsp;</h3>
            <p style="margin-bottom: 10px;">Paragraph</p><a href="{% url 'run_scraping' %}" style="color: rgb(134,144,157);">Try it&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-up-right">
                    <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"></path>
                </svg></a>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
{%endblock info%}
