{% extends 'base.html' %}
{% load static %}

{% block head %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Run AI bot | Ask question to AI</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich&amp;display=swap">
</head>
{%endblock%}

{% block content %}
<section style="height: auto;margin-top: 50px;">

	<h1>Run AI Bot</h1>
	{% if message %}
	<p>{{ message }}</p>
	{% endif %}
	<form method="POST" id="ai-form">
		{% csrf_token %}
		<input type="text" name="input_text" placeholder="Enter Text">
		<button type="submit">Run AI</button>
	</form>

	<h2>{{result}}</h2>
	<p></p>


</section>
{% endblock %}

<script>
	    var form = document.getElementById("ai-form");
	    form.addEventListener("submit", function(event) {
	        event.preventDefault();
	        var input_text = document.getElementsByName("input_text")[0].value;
	        var xhr = new XMLHttpRequest();
	        xhr.onreadystatechange = function() {
	            if (xhr.readyState === XMLHttpRequest.DONE) {
	                document.getElementById("loading").style.display = "none";
	                document.getElementById("result").style.display = "block";
	                if (xhr.status === 200) {
	                    var response = JSON.parse(xhr.responseText);
	                    document.getElementsByName("input_text")[0].value = "";
	                    document.getElementById("result").getElementsByTagName("p")[0].innerHTML = response.result;
	                } else {
	                    console.log("Error: " + xhr.status);
	                }
	            } else {
	                document.getElementById("loading").style.display = "block";
	                document.getElementById("result").style.display = "none";
	            }
	        };
	        xhr.open("POST", "/run_ai_bot/");
	        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
	        xhr.send("input_text=" + encodeURIComponent(input_text));
	    });

</script>
