{%extends 'posts/base.html'%}
{% load static %}

{% block head %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FAQ</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich&amp;display=swap">
</head>
{% endblock %}

{% block content%}
<body style="font-family: Aldrich, sans-serif;">
    <section style="margin-right: 2%;margin-left: 2%;">
        <div class="container">
            <div class="row" style="padding-top: 28px;">
                {% for question in question_answer%}
                <div class="col-md-6" style="border-top-left-radius: 17px;border-top-right-radius: 17px;border-bottom-right-radius: 17px;border-bottom-left-radius: 17px;margin-top: 5px;margin-bottom: 5px;border-style: solid;border-color: rgb(108,120,133);border-top-width: 4px;border-top-color: rgb(106,119,132);border-right-width: 1.5px;border-left-width: 1.5px;">
                    <h2 class="text-center" style="margin-top: 3px;">{{question.title}}</h2>
                    <p>{{question.description|safe}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <script src="{%load static%} admin/js/bootstrap.min.js"></script>
</body>

{% endblock %}