{% extends 'posts/base.html' %}

{% block content %}
<section style="height: auto;margin-top: 50px;">
    <h1>Review</h1>

    <form action="{% url 'add_review' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add</button>
    </form>
</section>
<script>
  // заполнение полей email и name
  var emailField = document.getElementById('id_email');
  var nameField = document.getElementById('id_name');
  emailField.value = '{{ request.user.email }}';
  nameField.value = '{{ request.user.username }}';
</script>
{% endblock %}