{%extends 'posts/base.html'%}
{% load static %}

{% block content %}

    {% for project in project_list%}
    <section style="height: auto;margin-top: 50px;">
        <div>
            <a href="{{ project.get_absolute_url }}">{{project.title}}</a>
            <h2>{{project.title}}</h2>
            <h5>{{project.text}}</h5>
            <a href="{{ project.get_absolute_url }}">
                <button class="btn btn-primary" type="button">View more ...</button>
            </a>

        </div>
    </section>
    {% endfor %}
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
{% endblock content %}
