{%extends 'posts/base.html '%}
{%load static%}


{% block head%}
	<title>{{project.title}}</title>
	<link rel="stylesheet" href="{% static  '/assets/bootstrap/css/bootstrap.min.css'%}">
{% endblock head%}

{%block info%}

	<div></div>
	<h1>{{project.title}}</h1>

	<div >
		<h3>{{project.text|safe}}</h3>
		<h4>{{project.date}}</h4>
		<h4>{{project.image}}</h4>
		{% for img in project.projectimages_set.all %}
			<img src="/media/{{img.image}} " alt="{{img.description}}" width="auto" height="256px"/>

		{% endfor %}

	</div>
{%endblock info%}
